@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin: 0 auto;
}
.container{
    width: 80%;
    margin: 0 auto;
}
h2{
    font-size: 24px;
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    padding:20px;
    font-weight: 700;
}
.content-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-img img{
    width: 539px;
    height: 447px;
    margin-left: 77px;
}
.content-info h1{
    font-family: "Space Mono",monospace;
    font-weight: 700;
    font-size: 36px;
    margin-right: 240px;
    margin-left: 70px;
}
.content-info p{
    font-family:  "Space Mono",monospace;
    font-size: 16px;
    font-weight: 400;
    margin-right: 240px;
    margin-left: 70px;
    margin-top: 20px;
}
button{
    all: unset;
    margin-top: 30px;
    background-color: #333333;
    margin-right: 240px;
    margin-left: 70px;
    font-family:  "Space Mono",monospace;
    color:#ffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 18px 34px;
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

@media screen and (maxwidth:50px){
    .content-container .content-info{
        flex-direction: column;
        justify-content: center;
    }
    .content-img img{
        width:286px;
        height: 238px;
    }
    
}